#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(111, 141, 141);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper{
  height: 535px;
  width: 800px;
  color: #0d0c0c;
  background: rgb(54, 206, 186);
  border-radius: 1.2rem;
  margin: 100px auto;
}
.inputContainer {
  background-color: #ffffff;
  border-radius: 1.4rem;
  padding: 0 0.8rem;
  align-items: center;
  font-size: 2.5rem;
  border: none;
  outline: none;
  padding: none;
  color: #0d0c0c;
}

.todo li{
  font-size: "3rem";
  white-space: "nowrap";
}